.card {
  min-height: min-content;
  padding: 40px;
  min-width: 350px;
  width: min-content;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  color: white;


  .form {
    border-radius: 10px;


    input {
      background-color: rgba(255, 255, 255, 0.308);
      border: none;
      border-right: none;
      padding: 10px;
      border-radius: 10px 0 0 10px;
      color: rgba(0, 0, 0, 0.76);
    }

    ::placeholder {
      opacity: 0.5;
      color: rgba(0, 0, 0, 0.685);
    }

    :focus {
      outline: none;

    }

    button {
      background-color: rgba(0, 0, 0, 0.603);
      border: none;
      border-left: none;
      padding: 10px;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      transition-duration: 300ms;
      color: rgba(255, 255, 255, 0.664);


    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.349);
      color: rgb(255, 255, 255);
    }


  }

  .weatherData {
    margin: 20px 0 0px 0;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    opacity: 0.7;
    transition-duration: 1000ms;
    animation-name: example;
    animation-duration: 1000ms;
    height: 300px;


    @keyframes example {
      from {
        height: 0px;
        opacity: 0;
      }

      to {
        height: 300px;
        opacity: 0.7;
      }
    }

    @keyframes example2 {
      from {
        opacity: 0;
      }

      to {
        opacity: 0.7;
      }
    }

    .weatherData_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      opacity: 0.7;
      animation-name: example2;
      animation-duration: 2000ms;



      .weatherData_top_temperatur {
        font-size: 40px;
      }

      .weatherData_top_city {
        font-size: 30px;
      }
    }

    .weatherData_bottom {
      font-weight: normal;
      gap: 60px;

      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0.7;
      animation-name: example2;
      animation-duration: 2000ms;

      .weatherData_bottom_left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .weatherData_bottom_left_image {
          margin-bottom: 10px;
          font-size: 40px;
        }

        .weatherData_bottom_left_humidity {
          font-size: 12px;
        }
      }

      .weatherData_bottom_right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .weatherData_bottom_right_image {
          margin-bottom: 10px;
          font-size: 40px;
        }

        .weatherData_bottom_right_wind {
          font-size: 12px;
        }
      }
    }


  }
}

.noCard {
  color: rgb(134, 0, 0);
  font-weight: bold;
  height: 0px;
  opacity: 0.7;
  animation-name: example3;
  animation-duration: 1000ms;
  position: relative;
  top: 10px;
  transition-duration: 1s;



  @keyframes example3 {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.7;
    }
  }

}